<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="principal">
        <div class="main-header-top-bar">
             <img src="/images/logo-mercado-liebre.svg" class="logo">
             <h2 class="copy-header">
                 <img src="/images/hand-holding-dollar-solid.svg" class="money">
                comprá en cuotas sin tarjeta de crédito
             </h2>
        </div>
        <a href="#" class="hamburger-button">
            <img class="menu" src="/images/bars-solid.svg" >
        </a>
        <nav class="main-navbar" >
            <ul class="left-navbar">
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#"> Tiendas oficiales</a></li>
                <li><a href="#"> Vender</a></li>
                <li><a href="#"> Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="#"> Crea tu cuenta <img src="/images/address-card-regular.svg" class="usuario"></a></li>
                <li><a href="#"> Ingresá <img src="/images/right-to-bracket-solid.svg" class="ingresar"></a></li>
                <li><a href="#"> Mis compras <img src="/images/basket-shopping-solid.svg" class="carrito"></a></li>
    
            </ul>
        </nav>
    </header>
    <form action="" method="post" class="create-form">
        <div class="control-formulario">
        <label> Nombre del Producto:</label>
        <input type="text" name="producto" class="control">
        </div>
        <div class="control-formulario">
    <label> Precio:</label>
    <input type="number" name="precio" placeholder="$100" class="control">
    </div>
    <div class="control-formulario">
        <label> Categoría</label>
        <select name="Categoria" class="control">
            <option value="hogar">Hogar</option>
            <option value="electro"> Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>
    </div>
    
        <div class="control-formulario">
            <label for="Descripcion">Descripción del producto</label>
            <textarea name="DescripciondelProducto" class="control"></textarea>
        </div>
        <div class="control-formulario"> 
            <label>Está en Oferta:</label>
            <input type="radio" name="oferta">
            </div>
        <button type="submit" class="bottonForm">Guardar</button>
        <button type="reset" class="bottonForm">Borrar</button>
       
    </form>   
    <main>
        <section>
            <p> Basado en tu última visita</p>

            <img class="image" src="/images/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img class="image" src="/images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>

            <img class="image" src="/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>

            <img class="image" src="/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>    

        </section>
        <p>Ofertas</p>

        <img class="image" src="/images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>

        <img class="image" src="/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% OFF</p>
        <p>MacBook Pro 2019</p>

        <img class="image" src="/images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% OFF</p>
        <p>Samsung Galaxy S10</p>

        <img class="image" src="/images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% OFF</p>
        <p>SmartTv Samsung 43"</p>   

        <section>


        </section>

    </main>

    <footer>
    <ul>
    <li><p>Pagá con tarjeta o en efectivo</p></li>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    
    <li><p>Envío gratis desde $ 2.500</p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </li>

    <li><p>Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </li>

    <li><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></li>

    </ul>
    </footer>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f3259e664d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    <header>
        <div class="topbar-header">
            <div class="logo-busq">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" >
                <input type="text">
                <i class="fa fa-search"></i>
            </div>
            <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i></i>Compra en cuotas y sin tarjeta de credito</h2>
            
        </div>

        <nav class="main-navbar">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
              
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta</a><i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis Compras</a><i class="fas fa-shopping-cart"></i></li>
              
            </ul>
               
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    
    <main>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <section>
            <h3 >Basados en tu última visita</h3>
           
            <article >
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex">
                <i class="fas fa-truck"></i>  
                <div>
                    <p >$ 6.700</p>
                    <p >40% off</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de macbook pro">
                <i class="fas fa-truck"></i>  
                <div>
                    <p>$ 230.000</p>
                    <p>20% off</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen de tv samsug smart">
                <i class="fas fa-truck"></i>  
                <div>
                    <p>$ 23.200</p>
                    <p>5% off</p>
                    <h4 class="description">SmartTV Samsung 43"</h4>
                </div>
            </article>
           
        </section>
        <section>
            <h3>Sección Ofertas</h3>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex"> 
                <i class="fas fa-truck"></i>              
                <div>
                    <p>$ 6.700</p>
                    <p>40% off</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de macbook pro">
                <i class="fas fa-truck"></i>  
                <div>
                    <p>$ 230.000</p>
                    <p>20% off</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen de tv samsug smart">
                <i class="fas fa-truck"></i>  
                <div>
                    <p>$ 23.200</p>
                    <p>5% off</p>
                    <h4 class="description">SmartTV Samsung 43"</h4>
                </div>
            </article>   
        </section>
    </main>
    <footer>
        <section class="footer-info">
            <article>
                <div>
                    <img src="/images/credit-card-solid.svg" class="icono-footer">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/images/gift-solid.svg" class="icono-footer">
                    <h3>Envio gratis desde $2.500</h3>
                    <p>Sólo por estar registrad@ en Mercado Liebre tenes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/images/user-shield-solid.svg" class="icono-footer" >
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </article>
        </section>
        <section>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>


